
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg,  rgb(127, 73, 203), rgb(253, 185, 175));
  background-repeat: no-repeat;
  background-size: cover;
  

}
